.App {
  text-align: center;
  background-color: rgb(38, 184, 123);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.background{
  background-color:aquamarine;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button{
  margin-right:'200px';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon{
  margin-top: '20px'
}
.paper{
  padding: 16;
}
.grid{
  padding: 12;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  background-color: rgb(78, 119, 155);
}